<div class="container">
    <h2 class="silver">Informacion</h2>
    <div class=" bordeBlanco info">
        <ul>
            <li>
                <span class="tituloColor">Argumento de entrada:</span>
                {{info.argumento}}
            </li>
            <li>
                <span class="tituloColor">Nombre de la plataforma(sistema operativo):</span>
                {{info.sistemaOperativo}}
            </li>
            <li >
                <span class="tituloColor">Vercion de node.js:</span>
                {{info.vercionNode}}
            </li>
            <li>
                <span class="tituloColor">Memoria total reservada(rss):</span>
                {{info.memoria}}
            </li>
            <li>
                <span class="tituloColor">Path de ejecutable:</span>
                {{info.pathEjecutable}}
            </li>
            <li>
                <span class="tituloColor">Process id:</span>
                {{info.processId}}
            </li>
            <li>
                <span class="tituloColor">Carpeta del proyecto:</span>
                {{info.carpetaProyecto}}
            </li>
            <li>
                <span class="tituloColor">Numero de nucleos(cpu):</span>
                {{info.cantidadNucleos}}
            </li>
        </ul>
        
    </div>
</div>
